.goods {
   display: flex;
   justify-content: center;
   column-gap: 40px;

  &-info {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    text-align: center;
    width: 160px;
    transition: transform 0.3s ease;

    margin-top: 15px;

    &:hover {
      transform: translateY(-5px);
    }

    &__image {
      border-radius: 8px;
      margin-bottom: 10px;
    }

    &__title {
      font-size: 18px;
      color: var(--accent-color);
      margin: 10px 0;
    }

    &__price {
      font-size: 16px;
      color: #27ae60;
      font-weight: bold;
      margin: 0;
    }
  }
}
